<%= form_for @article do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "Erros") %>
        impediram esse artigo de ser salvo:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :titulo %><br>
    <%= f.text_field :title ,onkeyup:"countChar(this.value,50,'article_title','counter_title')",onblur:"confirmValues('article_title','message_title')"  %> 
   
  </p>
  <h6 id="message_title">*Por favor, preencha o campo </h6>
   <h6 id="counter_title"> Você possui 50 caracteres restando </h6>
 
  <p>
    <%= f.label :mensagem %><br>
    <%= f.text_area :text ,onkeyup:"countChar(this.value,255,'article_text','counter_text')", onblur:"confirmValues('article_text','message_text')"%> 
  </p>
  <h6 id="message_text">*Por favor, preencha o campo </h6>
  <h6 id="counter_text"> Você possui 255 caracteres restando </h6>
  
  <p>
    <%= f.submit :Salvar, class:'btn save' %> 
    <%= link_to 'Voltar', articles_path %>
  </p>
  
<% end %>