<% provide(:title, "Home") %>
<header>
  <%= link_to 'Novo Artigo', new_article_path, class:'btn'%> 
  <h1>Lista de Artigos</h1>
  
</header>
<article id="message">
  
  <% @articles.each do |article| %>
    <h2> 
      <%= article.title %> 
    </h2>
    <aside class="sidebar">
      <ul>
        <li> 
          <%= link_to 'Detalhes', article_path(article), class:'detail' %> </li>
        <li> 
          <%= link_to "Editar", edit_article_path(article), class:'edit' %> </li>
        <li> 
          <%= link_to 'Deletar', article_path(article),
                  method: :delete,
                  data: { confirm: 'Você tem certeza?' }, class:'delete' %>
        </li>
      </ul>
    </aside>
    <p class="article"> 
      <%= article.text %> 
    </p>
    <div id="clear">
    </div>
  <% end %>
</article>

 