<% provide(:title, "Exibir Detalhes do Artigo") %>
<div class="details">
	<h2>
  		<strong>Titulo:</strong>
  		<%= @article.title %>
	</h2>
 
	<p class='show'>
	  <strong>Mensagem:</strong>
	  <%= @article.text %>
	</p>


	<%= link_to 'Voltar', articles_path, class:'cancel' %> |
	<%= link_to 'Editar Artigo', edit_article_path(@article), class:'btn' %>
</div>