body{
	margin: 0;
	padding: 0;
	background-color: #f6f6f6;
}

/* definição padrão das fontes */
p,h1,h2,a{
	font-family: 'Open Sans', Arial, sans-serif;
}

h1,h2{
	text-align: center;
}

/* definição do padrão dos elementos */
a{
	text-decoration:none;
	color: #88f;

	&:visited{
		color: #999;
	}
	&:hover{
		color: #009;
		text-decoration: underline;
	}
}

ul{
	list-style:none;
	display: inline-block;

	li{
		padding-bottom:20px;
	}

}

h1{
	text-transform: uppercase;
	text-align:center;
}

h2{
	margin:0px;
}

article{
	padding-top:10px;
	background-color: #ccf;
}

label{
	font-weight:bold;
}

p{
	padding-left: 15px;
}