.btn,.cancel{
	-webkit-appearance: none;
		border: none;
		height: 25px;
		width: 150px;
		color: #fff;
		padding: 5px;

		border-radius:10px;		
		&:hover{
			color: #fff;
			text-decoration: underline;
		}

		&:visited{
			color: #fff;
		}
}

.btn{
		background-color: #08f;
		&:hover{
			background-color:#089;
		
		}
	
	}

.cancel{
	background-color: #a00;
	&:hover{
		background-color:#f00;
	}
}

.save{
	padding: 0px;
	margin-left:0px;
}

.edit, .detail{
	background-color: #00b;
	color: #fff;
	padding: 5px;
	border-radius: 10px;

	&:hover{
		background-color: #55f;
		color: #fff;
	}
}

.delete{
	background-color:#b00;
	color: #fff;
	padding: 8px;
	border-radius: 10px;

	&:hover{
		color: #000;
		background-color:#ddd;
	}
}
