.new_article, .edit_article{
	width: 270px;
	margin: 0 auto;


	input[type="text"], textarea{
		width: 200px;
		margin-top: 5px;
	}

	

	a{
		padding-left: 5px;
		color: #c00;
	
		&:hover{
			color: #900;
		}
	}

	h6{
		font-weight:400;
		color: #555;
		padding-left: 15px;
		margin: -10px 0px;
		padding-bottom: 15px;
	}
}

#error_explanation{
	border: 1px solid #f55;
	background-color: #faa;

	h2{
		text-align:left;
		padding-left: 10px;
		padding-bottom: 0px;
	}

	ul{
		margin: 0;
		padding: 10px;
	}

	
}

 #message_text, #message_title{
 	display:none;
 	color: #c00
 }