#container, .details {	
	min-width: 960px;
	margin: 0 auto;
}

#message{
	width: 600px;
	margin:0 auto;
}

.sidebar{

	float:right;
	text-align: right;
	padding-right:15px	;
}

#clear{
	clear:both;

	padding:5px 5px;
	background-color: #f6f6f6;
}


.details{
	text-align:center;
	width: 600px;
	margin: 0 auto;
}

.show{
	text-align: left;
	padding: 5px 0px 5px 20px;
	background-color: #ddd;	
	border: 1px solid #555;
}